---
import DreamLayout from "../layouts/DreamLayout.astro";
import {version} from "../version";
import dayjs from "dayjs";
import BlogCard from "../components/BlogCard.astro";
const allPosts = await Astro.glob('../pages/blog/*.mdx');

---

<DreamLayout>

    <div class="dream-content">
        <section>
            <h1 class="dream-text font-mono mix-difference">
                Welcome to my corner of the Internet,
            </h1>
            <div class="dream-text font-mono mix-difference">
                I'm just a random person and you might already know me, if you don't - check out my <a style="font-size: 100%" class="dream-text font-mono mix-difference" href="/about">about page</a>.
            </div>
            <br>
            <div class="dream-text font-mono mix-difference">
                People usually know me from being a dev, but I do a lot more than that, Still I've participated in numerous Minecraft servers, from the most popular Earth servers, to full on networks.
            </div>
            <br>
            <div class="dream-text font-mono mix-difference">
                Unfortunately I haven't had quite the time to no-life developing recently, I have managed to almost 100% Portal 1 which is honestly one of my life achievements at this point (I'm a noob at video games)
            </div>
            <br>
            <div class="dream-text font-mono mix-difference">
                Anyways, hope you like browsing around this website.
            </div>
        </section>
        <div class="home-cool-stuff-container">
            <div class="home-cool-stuff">
                <div style="display: flex; flex-direction: column; height:100%; width: 100%">
                    <h1 class="font-mono" id="listening-to">Listening To:</h1>
                    <div class="home-music-playing">
                        <img src="" class="home-music-playing-image" id="home-music-playing-image">
                        <div class="home-track-info">
                            <h1 style="font-size:x-large;padding:0;margin:0;" class="font-pixel" id="track-name-artist"></h1>
                            <a id="view-lfm" style="font-size: 100%" class="font-pixel">View on Last.FM</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-cool-stuff"></div>
        </div>
        <h1 style="margin-top: 0;" class="dream-text font-pixel mix-difference">
            New blog posts
        </h1>
        <div class="blog-cards-center">
            <div class='blog-cards-container'>
                {allPosts.map((post) => <BlogCard
                        blogTitle={post.frontmatter.title}
                        blogDescription={post.frontmatter.description}
                        url={post.frontmatter.url}
                        date={dayjs.unix(post.frontmatter.date).format("DD/MM/YY")}
                        tags={post.frontmatter.tags}></BlogCard>)}
            </div>
        </div>
    </div>
    <script>
        async function getThing() {
            const response = await fetch("https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=kz-n&api_key=9822bf02dbc34c950fba9bcb6dd8664c&format=json");
            const json = await response.json();
            return json.recenttracks.track[0];
        }
        var thing = await getThing();
        var nowplaying
        if(thing["@attr"] == null || thing["@attr"] == undefined) {
            nowplaying = false;
        } else {
            nowplaying = true;
        }
        if(nowplaying) {
            document.getElementById("listening-to").textContent = "Listening To:"
        } else {
            document.getElementById("listening-to").textContent = "Last Listen:"
        }
        document.getElementById("home-music-playing-image").src = thing["image"][3]["#text"];
        if(thing["image"][3]["#text"] == null || thing["image"][3]["#text"] == undefined || thing["image"][3]["#text"] == "") {
            document.getElementById("home-music-playing-image").src = "/favicon.png"
        }
        document.getElementById("view-lfm").href = thing["url"]
        document.getElementById("track-name-artist").textContent = thing["artist"]["#text"] + " - " + thing["name"]
    </script>
</DreamLayout>