---
import DreamLayout from "../layouts/DreamLayout.astro";
import {webring} from "../webring";
import dayjs from "dayjs";
import BlogCard from "../components/BlogCard.astro";
import {MDXInstance} from "astro";
import MusicCard from "../components/MusicCard.astro";
import TopBar from "../components/TopBar.astro";
var allPosts = await Astro.glob('../pages/blog/*.mdx');


allPosts.sort(function(a, b) {
    return b.frontmatter.date - a.frontmatter.date;
})


var all8831 = [];
for(let thing in await import.meta.glob("../../public/88by31s/*.gif", { eager: true, as: 'url' })) {
    all8831.push(thing.replace("../../public", ""));
}

var allMusic = await Astro.glob('../pages/music/*.mdx');
allMusic.sort((a, b) => (b.frontmatter.index || 0) - (a.frontmatter.index || 0));
---

<DreamLayout>
    <div class="home-grid-container">
        <div class="home-topbar-container">
            <TopBar/>
        </div>
        <div class="home-left-column">
            <section>
                <h1 class="dream-text font-pixel mix-difference">
                    Welcome to my corner of the Internet,
                </h1>
                <div class="dream-text font-pixel mix-difference">
                    I'm just a random person and you might already know me, if you don't - check out my <a style="font-size: 80%" class="dream-text font-mono mix-difference" href="/about">about page</a>.
                </div>
                <br>
                <div class="dream-text font-pixel mix-difference">
                    I make music, I make websites, I make games, I make software, I make art, I make videos, I make anything and everything.
                </div>
                <br>
                <div class="dream-text font-pixel mix-difference">
                    Here you'll find all of my projects, and if you'd like... some means to support me!
                </div>
                <br>
                <div class="dream-text font-pixel mix-difference">
                    Anyways, hope you like what you see!
                </div>
            </section>
            <br>
           
            <br>
            <div class="home-cool-stuff-container">
                <div class="home-cool-stuff">
                    <div class="home-music-playing-container">
                        <h1 class="font-mono" id="listening-to">Listening To:</h1>
                        <div class="home-music-playing">
                            <img src="" class="home-music-playing-image" id="home-music-playing-image">
                            <div class="home-track-info">
                                <h1 style="font-size:x-large;padding:0;margin:0;" class="font-pixel" id="track-name-artist"></h1>
                                <a id="view-lfm" style="font-size: 100%" class="font-pixel">View on Last.FM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-cool-stuff">
                    <div style="display: flex; flex-direction: column; height:100%; width: 100%">
                        <h1 class="font-mono">My Webring:</h1>
                        <div id="webring-marquee">
                            <div class="home-webring-container">
                                {all8831.map((gif) => <a href={webring[gif]}><img class="home-webring-gif" src={gif}></img></a>)}
                            </div>
                        </div>
                        <div class="home-addmybutton-container">
                            <div>
                                <h1 style="padding:0;margin:0;" class="font-mono">Add my button!</h1>
                                <a id="copy-button" class="font-pixel" href="#">Click to copy in your clipboard</a>
                            </div>
                            <div>
                                <span style="font-size: large; position: relative; top:-25%" class="font-mono">---->  </span><a href="https://www.kz-n.net/"><img class="home-webring-gif"  src="https://www.kz-n.net/public/88x31.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h1 style="margin-top: 0;" class="dream-text font-pixel mix-difference">
                New blog posts
            </h1>
            <div class="blog-cards-center">
                <div class='blog-cards-container'>
                    {allPosts.map((post) => <BlogCard
                            blogTitle={post.frontmatter.title}
                            blogDescription={post.frontmatter.description}
                            url={post.frontmatter.url}
                            date={dayjs.unix(post.frontmatter.date).format("DD/MM/YY")}
                            tags={post.frontmatter.tags}></BlogCard>)}
                </div>
            </div>
        </div>
        <div class="home-right-column">
            <div class="music-cards-center">
                <div class='music-cards-container'>
                    {allMusic.length > 0 && (
                        <MusicCard coverArt={"/music/" + allMusic[0].frontmatter.cover} class="music-card--featured" />
                    )}
                    {allMusic.slice(1).map((track) => (
                        <MusicCard coverArt={"/music/" + track.frontmatter.cover} />
                    ))}
                </div>
            </div>
        </div>
    </div>
        
    <script>
        import marquee from 'vanilla-marquee';
        new marquee( document.getElementById( 'webring-marquee' ), {
            pauseOnHover: true,
            duplicated: true,
            gap:        0,
            speed: 80
        });
        async function getThing() {
            const response = await fetch("https://api.kz-n.net/api/nowplaying");
            const json = await response.json();
            return json.recenttracks.track[0];
        }
        var thing = await getThing();
        var nowplaying
        if(thing["@attr"] == null || thing["@attr"] == undefined) {
            nowplaying = false;
        } else {
            nowplaying = true;
        }
        if(nowplaying) {
            document.getElementById("listening-to").textContent = "Listening To:"
        } else {
            document.getElementById("listening-to").textContent = "Last Listen:"
        }
        document.getElementById("home-music-playing-image").src = thing["image"][3]["#text"];
        if(thing["image"][3]["#text"] == null || thing["image"][3]["#text"] == undefined || thing["image"][3]["#text"] == "") {
            document.getElementById("home-music-playing-image").src = "/favicon.png"
        }
        document.getElementById("view-lfm").href = thing["url"]
        document.getElementById("track-name-artist").textContent = thing["artist"]["#text"] + " - " + thing["name"]


        document.getElementById("copy-button").onclick = () => {
            navigator.clipboard.writeText("<a  href=\"https://www.kz-n.net/\"><img src=\"https://www.kz-n.net/public/88x31.png\"></a>");
            document.getElementById("copy-button").textContent = "Copied!"
            new Promise(resolve => setTimeout(resolve, 2000)).then(() => document.getElementById("copy-button").textContent = "Click to copy in your clipboard")
        }

        // onresize = (event) => {
        //     var element = document.getElementsByClassName("dream-background")[0];
        //     let style = getComputedStyle(element)
        //     console.log(style.width, style.height)
        //     //-0.27125
        //     element.setAttribute("left", (style.width * -0.27125).toString() + 'px')
        //     element.setAttribute("top", (style.width * -0.5).toString() + 'px')
        // }
    </script>
</DreamLayout>